<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.onlinestore.mapper.MemberMapper">
    <resultMap id="memberResultMap" type="com.example.onlinestore.entity.MemberEntity">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="nickName" column="nick_name"/>
        <result property="password" column="password"/>
        <result property="phone" column="phone"/>
        <result property="gender" column="gender"/>
        <result property="age" column="age"/>
        <result property="createdAt" column="created_at"/>
        <result property="updatedAt" column="updated_at"/>
    </resultMap>

    <sql id="Member_basic_column">
        id, `name`,nick_name, password, phone, gender, age, created_at, updated_at
    </sql>

    <!-- name添加索引-->
    <select id="findByName" resultMap="memberResultMap">
        SELECT
        <include refid="Member_basic_column" />
        FROM member WHERE `name` = #{name}
    </select>

    <select id="findById" resultMap="memberResultMap">
        SELECT
        <include refid="Member_basic_column" />
        FROM member WHERE id = #{id}
    </select>

    <insert id="insertMember" parameterType="com.example.onlinestore.entity.MemberEntity" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO member (name, nick_name, password, phone, gender, age, created_at, updated_at)
        VALUES (#{name}, #{nickName}, #{password}, #{phone}, #{gender}, #{age}, #{createdAt}, #{updatedAt})
    </insert>

</mapper>